@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
body{
    font-family: "Oswald", sans-serif;
    font-weight: 700;
    background-image: url(/Ocean20GlobalSolution-main/img/pexels-francesco-ungaro-2289411.jpg);
    background-size: cover;

}


#Teste{
    font-size: 25vh;
}

#gridNavbar{
    background: linear-gradient(to bottom, rgba(39,58,106,1) 20%, transparent);
    display: grid;
    grid-template-areas: 
    "img home oceanos sobre";
    grid-template-columns: 3fr 1fr 1fr 1fr;
}

#iconePagina{grid-area: img;}
#navbarHome {grid-area: home;}
#navbarOceanos { grid-area: oceanos;}
#navbarSobre {grid-area: sobre;}

#navbarHome, #navbarOceanos, #navbarSobre {
    
    display: inline-block;
    font-size: 30px;
    color: aqua;
    font-family: 'Times New Roman', Times, serif;
    padding: 10px;
    margin: 10px;
    text-decoration: underline white;
    
}

#iconePagina{
    padding-top: 2vh;
    padding-left: 5vh;
    height: 10vh;
    width: 10vh;
}


#backgroundImage img{
    padding: 5vh; 
    height: 12vh;
}

#botao{
    padding-top: 30vh;
    padding-left: 10vh;
}

#botao a{
    font-size: 5vh;
    padding: 0.5vh;
    color: white;
    border: solid;
    border-color: rgb(16,116,134);
    background-color: rgb(16,116,134);
    border-radius: 5px;

}

#imagem2 {
    text-align: center;
    margin-top: 100px; 
    font-size: 10px;
    font-family: 'Times New Roman', Times, serif;
    color: #ddcbcb;
    font-size: 15px;
}

footer {
    background: #004f5d;
    color: #fff;
    text-align: center;
    margin:0;
    position: absolute;
    bottom: 0;
    width: 98%;
    height: 45px;
}

#paginas {
    background-color: rgb(62, 95, 146);
    height: 30px;
    width: 820px;
    display: flex;
    align-items: center;
    padding: 10px;
    margin: 0 auto;
}

#paginas ul li {
    display: inline-block;
    list-style: none;
    margin-right: 50px;
}

#paginas ul li a {
    text-decoration: none;
    color: #000;
    display:block;    
    color: white;
    padding: 1px 5px;
    font-size: 20px;
    font-family: Montserrat;
}

#paginas li a:hover {
    color: #3f3b3b;
    font-weight: bold;    
}
