body{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 0;
    margin: 0;
}

#navbar{
    background: linear-gradient(to bottom, rgba(39,58,106,1) 20%, transparent);
}

#backgroundImage{
    height: 100vh;
    background-image: url(../img/pexels-francesco-ungaro-2289411.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
}

#backgroundImage img{
    padding: 5vh;
    height: 12vh;
}

#navbarOpcoes{
    display:inline;
    color: white;
    height: 100vh;
    
}
#navbarOpcoes a{
    display: inline;
    padding-left: 10vh;
    
}

